# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# Maven build temporal
target/

# SO
.DS_Store
Thumbs.db

# Logs
*.log

# IMPORTANTE:
# NO ignoramos dist/ ni installer/ porque la profesora quiere TODO en GitHub

